# -*- coding: utf-8 -*-
#
# Copyright (C) 2023 CESNET.
#
# CESNET-OpenID-Remote is free software; you can redistribute it and/or
# modify it under the terms of the MIT License; see LICENSE file for more
# details.

# TODO: Generate this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

include .dockerignore
include .editorconfig
include .tx/config
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include oarepo_oidc_einfra/translations *.po *.pot *.mo
include *.rst
include *.sh
include *.txt
include LICENSE
include pytest.ini
recursive-exclude example *.py
recursive-exclude example *.sh
recursive-exclude tests *.json
recursive-exclude examples *.db
recursive-exclude examples *.sh
include *.yml
recursive-include oarepo_oidc_einfra *.py
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude .github *

recursive-exclude docs *
